	{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Test app</title>

	<script src="{% static "bundle.js" %}"></script>
</head>
<body>
<div id="root">this is original</div>
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'profile:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
<script>
	window.inventory = {{inventory| safe}}
</script>
</body>
</html>